html, body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: rgba(240, 240, 240, 1);
}

.movable
{
	-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
}

#page
{
	position: relative;
	float: center;
	height: 100%;
	width: 100%;
	margin: auto;
}

#menu
{
	position: fixed;
	top: 0;
	right: 0%;
	height: 100%;
	width: 200px;
	background-color: rgba(240, 240, 240, 0.9);
	box-shadow: -50px 0px 50px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
}
